// Mixins Here

.desktop-width(@width) {
    max-width: @width;
}

.display-flex(@direction, @justify, @align) {
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}


.button(@font-size, @bg-color, @font-color) {
    font-size: @font-size;
    background-color: @bg-color;
    color: @font-color;
    padding: 1rem 2rem;
    border-radius: 5px;
    max-width: 40%;
    text-align: center;
}