// Navigation code here

header {
    width: 100%;
    

    div {
        .desktop-width(70%);
        margin: 0 auto;
        .display-flex(column, space-between, @align: center);

        @media @mobile {
            flex-direction: column;
            justify-content: space-around;
        }

        h1 {
            width: 100%;
            margin: 20px 0px;
            text-align: center;

            @media @mobile {
                
            }
        }
        nav {
            width: 80%;
            .display-flex(row, space-around, center);
            margin: 0 auto;
            font-size: 1.8rem;
            

            @media @mobile {
                width: 100%;
            }

            a {
                text-decoration: none;
                color: black;
                margin-bottom: 20px;
            }
        }
    }
}